<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ " - " | prepend: page.title }}{% endif %}{{ site.title }}</title>
  <meta name="keywords" content="işletim sistemi, kernel, zararlı yazılım, virüs, rootkit, programlama, windows internals, malware, malware analysis, driver development, sürücü geliştirme" />
  <meta name="description" content="İşletim sistemleri, tersine mühendislik, zararlı yazılım analizi gibi konularda yazıların bulunduğu sıradan bir günce." />
   
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl | prepend: site.url }}">
  <script type="text/javascript" src="{{ "/css/rs.js" | prepend: site.baseurl | prepend: site.url }}"></script>
 
  {% feed_meta %}
</head>
